<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user_info.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @user_info.surname %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user_info.nickname %>
</p>


<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>

<%= render :partial=>"reservation_list", :locals =>{:reservations=>@user_info.user.reservations } %>
<%= render :partial=>"hire_list", :locals =>{:hires=>@user_info.user.hires } %>
