<h1>Listing authors</h1>

<table id="authors">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Description</th>
      <th>Popularity</th>
      <th></th>
      <%if(current_user!=nil && current_user.admin)%>
        <th></th>
        <th></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.surname %></td>
        <td><%= author.description %></td>
        <td><%= author.popularity %></td>
        <td><%= link_to 'Show', author %></td>
        <%if(current_user!=nil && current_user.admin)%>
          <td><%= link_to 'Edit', edit_author_path(author) %></td>
          <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @authors %>
<br />
<% if(current_user!=nil && current_user.admin) %>
  <%= link_to 'New Author', new_author_path %>
<%end%>
