<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @author.surname %>
</p>

<p>
  <b>Description:</b>
  <%= @author.description %>
</p>

<%if(current_user!=nil && current_user.admin)%>
  <%= link_to 'Edit', edit_author_path(@author) %>
<%end%>

<div style="border-top: 1px solid gray;">
  <%= render :partial=>"shared/book_list", :locals =>{:books=>@author.books } %>
  <%if(current_user!=nil && current_user.admin)%>
    <%= link_to "Add Book",  new_book_path(:author_id=>@author.id) %>
  <%end%>
  <hr/>
  <%= render :partial=>"shared/comment_list", :locals =>{:comments=>@author.comments} %>
  <%= link_to "Add commet",   :controller => "comments", :action => "new", :subject_id => @author.id, :subject_type=>"Author" %>
</div>
<hr/>