<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @author.surname %>
</p>

<p>
  <b>Description:</b>
  <%= @author.description %>
</p>
<%= render :partial=>"book_list", :locals =>{:books=>@author.books } %>
<%if(current_user.admin)%>
  <%= link_to 'Edit', edit_author_path(@author) %> |
<%end%>
<%= link_to 'Back', authors_path %>
