<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @publisher.name %>
</p>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>

<%= render :partial=>"shared/example_list", :locals =>{:examples=>@publisher.examples } %>
<%= link_to "Add Example",  new_example_path(:publisher_id=>@publisher.id) %>

