<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= render :partial=>"shared/comment_list", :locals =>{:comments=>@event.comments } %>
<%= render :partial=>"new_comment", :locals =>{:comment=>Comment.new(:event_id=>@event.id)} %>
