<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= render :partial=>"shared/comment_list", :locals =>{:comments=>@event.comments, :subject_id=>@event.id, :subject_type=>"Event"} %>
<%= link_to "Add comment",   :controller => "comments", :action => "new", :subject_id => @event.id, :subject_type=>"Event" %>