<p>
  <b>Book:</b>
  <%= link_to @example.book.title, @example.book %>
</p>

<p>
  <b>Publisher:</b>
  <%= link_to @example.publisher.name, @example.publisher %>
</p>

<p>
  <b>Publish date:</b>
  <%= @example.publish_date.strftime("%d-%m-%Y") %>
</p>

<p>
  <b>Buy date:</b>
  <%= @example.buy_date.strftime("%d-%m-%Y") %>
</p>

<p>
  <b>Description:</b>
  <%= @example.description %>
</p>

<p>
  <b>Status:</b>
<%current_id=nil%>
<%if current_user!=nil%>
  <%current_id = current_user.id%>
<%end%>
<% if(@example.get_state(current_id)=="available")  %>
  <%= link_to "reserve",   :controller => "examples", :action => "reserve", :id => @example %>
<%else%>
  <%   if(@example.get_state(current_id)=="Already reserved") %>
    <%= link_to "unreserve",   :controller => "examples", :action => "unreserve", :example_id => @example.id %>
  <% else %>
    <%= @example.get_state(current_id) %>
  <% end %>
<% end %>
</p>
<br/>
<%if(current_user!=nil && current_user.admin)%>
  <%= link_to 'Edit', edit_example_path(@example) %> |
<%end%>
<%= link_to 'Back', "/back" %>