<!DOCTYPE html>
<html>
  <head>
    <title>Devise2</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
      <div id="leftnav">
        <p>
            <%= link_to "Books", books_url   %><br/>
            <%= link_to "Authors", authors_url   %><br/>
            <%= link_to "Events", events_url   %><br/>
            <%= link_to "UserInfos", user_infos_url   %><br/>
            <%= link_to "Panel", "/my_panel"   %><br/>
            <%= link_to "Publishers", publishers_url   %><br/>
            <%= link_to "-Addresses", addresses_url   %><br/>
            <%= link_to "-Examples", examples_url   %><br/>
            <%= link_to "-Reservations", reservations_url   %><br/>
            <%= link_to "-Hires", hires_url   %><br/>
            <%= link_to "-Comments", comments_url   %><br/>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        <br>
            <% else %>
              <%= link_to('Login', new_user_session_path)  %>  <br>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to('Edit registration', edit_user_registration_path) %><br>
            <% else %>
              <%= link_to('Register', new_user_registration_path)  %><br>
            <% end %>
        </p>
      </div>
      <div id="content">
        <p id="notice"><%= notice %></p>
          <%= yield %>
      </div>
    
  </body>
</html>
